<div class="container">
  <div class="content has-text-centered">
    <p>
      <strong>BRAIN</strong> by <a href="https://www.linkedin.com/in/vishwakperera/">Vishwa Perera</a>.
    </p>
  </div>
</div>
