<!DOCTYPE html>
<html lang="en">

<head>
  <% include head %>
</head>
<body>
  <nav class="navbar is-transparent">
    <% include navBar %>
  </nav>

<section class="section section-edit">
   <%- content %>
</section>

<footer class="footer is-choked bottom-sticked">
  <% include footer %>
</footer>
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>
