<% extend('partials/layout') %>
    <div class="content columns is-multiline is-mobile is-centered">
      <div class="column is-half is-narrow">
          <h1 class="title">Add Issue</h1>
          <h1 class="subtitle">Fill the form below</h1>

        <form method="post" action="storeIssue">

            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" placeholder="Name" name="name">
              </div>
            </div>
            <div class="is-mobile columns">
              <div class="field column is-half">
                <label class="label">Priority</label>
                <div class="control">
                  <div class="select">
                    <select name="priority">
                      <option>Low</option>
                      <option>Medium</option>
                      <option>High</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field column is-half">
                <label class="label">Difficulty</label>
                <div class="control">
                  <div class="select">
                    <select name="difficulty">
                      <option>Low</option>
                      <option>Medium</option>
                      <option>High</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="is-mobile columns">
              <div class="field column is-half">
              <label class="label">Required Time</label>
              <div class="control">
                <div class="select">
                  <select name="requiredTime">
                    <option>1 Hour</option>
                    <option>2 Hours</option>
                    <option>3 Hours</option>
                    <option>4 Hours</option>
                    <option>5 Hours</option>
                    <option>6 Hours</option>
                    <option>7 Hours</option>
                    <option>8 Hours</option>
                    <option>9 Hours</option>
                    <option>10 Hours</option>
                    <option>11 Hours</option>
                    <option>12 Hours</option>
                    <option>13 Hours</option>
                    <option>14 Hours</option>
                    <option>15 Hours</option>
                    <option>16 Hours</option>
                    <option>17 Hours</option>
                    <option>18 Hours</option>
                    <option>19 Hours</option>
                    <option>20 Hours</option>
                    <option>21 Hours</option>
                    <option>22 Hours</option>
                    <option>23 Hours</option>
                    <option>24 Hours</option>
                    <option>25 Hours</option>
                    <option>26 Hours</option>
                    <option>27 Hours</option>
                    <option>28 Hours</option>
                    <option>29 Hours</option>
                    <option>30 Hours</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field column is-half">
              <label class="label">Assign To</label>
              <div class="control">
                <div class="select">
                  <select name="assignTo">
                    <option>Nobody Perera</option>
                    <option>Somebody Perera</option>
                    <option>Anybody Perera</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <textarea class="textarea" placeholder="write a small description about what to be done" name="description"></textarea>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Add Feature</button>
              </div>
              <div class="control">
                <button class="button is-text">Cancel</button>
              </div>
            </div>
          </div>

        </form>

    </div>
