<% extend('partials/layout') %>
<h1 class="title">Statistics Report</h1>
<h1 class="subtitle">Performance CV will be generated here</h1>
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification has-text-black-ter has-background-white-ter">
            <p class="title">Tasks Completed</p>
            <p class="subtitle">Weekly reports on the task completed by the , with the </p>
            <canvas id="myChart1" width="40" height="20"></canvas>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification has-text-black-ter has-background-white-ter">
            <p class="title">Time Analysis</p>
            <p class="subtitle">Analysis of time take by the developer over time estimated for the task</p>
            <canvas id="myChart2" width="40" height="20"></canvas>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification has-text-black-ter has-background-white-ter">
            <p class="title">Box Schema Evaluation</p>
            <p class="subtitle">Analysis of according to 9 by 9 Grid Box Schema</p>
            <canvas id="myChart3" width="40" height="20"></canvas>
          </article>
        </div>
        <div class="tile is-parent ">
          <article class="tile is-child notification has-text-black-ter has-background-white-ter">
            <p class="title">Technologies Involve</p>
            <p class="subtitle">Technologies involve during the project</p>
            <canvas id="myChart4" width="40" height="20"></canvas>
          </article>
        </div>
      </div>
    </div>
  </div>



  <!-- Chart 1 -->
  <script>
    var ctx = document.getElementById("myChart1").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Satureday"],
        datasets: [{
          label: 'Number of Tasks Completed',
          data: [12, 19, 10, 5, 7, 3],
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)'
          ],
          borderColor: [
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)'
          ],
          borderWidth: 2
        }]
      },
      options: {
        responsive: true,
        title: {
          display: false,
          text: 'Chart.js Line Chart'
        },
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Days'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Tasks'
            }
          }]
        }
      }
    });
  </script>

  <!-- Chart 2 -->
  <script>
    var ctx = document.getElementById("myChart2").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Satureday"],
        datasets: [{
          label: 'Estimated Time',
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          data: [12, 19, 3, 5, 2, 3],
          fill: false,
        }, {
          label: 'Actual Time-Take',
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          data: [13, 4, 1, 9, 5, 1],
          fill: false,
        }]
      },
      options: {
        responsive: true,
        title: {
          display: false,
          text: 'Chart.js Line Chart'
        },
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Days'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Time'
            }
          }]
        }
      }
    });
  </script>

  <!-- Chart 3 -->
  <script>
    var ctx = document.getElementById("myChart3").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Satureday"],
        datasets: [{
          label: '9x9 Box Schema Score',
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          data: [15, 10, 23, 35, 12, 4],
          borderWidth: 2
        }],
      },
      options: {
        responsive: true,
        title: {
          display: false,
          text: 'Chart.js Line Chart'
        },
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Days'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Points'
            }
          }]
        }
      }
    });
  </script>

  <!-- Chart 4 -->
  <script>
		var barChartData = {
			labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Satureday"],
			datasets: [{
				label: 'JavaScripts',
				backgroundColor: 'rgba(255, 99, 132, 1)',
				data: [3,4,5,6,4,3]
			}, {
				label: 'SCSS',
				backgroundColor: 'rgba(54, 162, 235, 1)',
				data: [4,2,6,7,2,4]
			}, {
				label: 'EJS',
				backgroundColor: 'rgba(154, 12, 235, 1)',
				data: [4,5,3,7,5,9]
			}]

		};
		window.onload = function() {
			var ctx = document.getElementById('myChart4').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					title: {
						display: false,
						text: 'Chart.js Bar Chart - Stacked'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
			});
		};
  </script>
